Package: com.jake0oo0.overcast
Name: Overcast
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: App for Overcast Network forums
Maintainer: Jake0oo0
Author: Jake0oo0
Section: Utilities
